@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Noto+Sans&display=swap');

// * {
//     border: 2px solid red;
// }

body {
    background-color: #0074D9;
    color: #DDDDDD;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#content {
    justify-content: space-between;
    align-items: center;
    flex: 95;
    
}

 //frequently used classes

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.chord-tile {
    flex: 1;
    padding: 75px;
    background-color: #0074D9;
    margin: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 2em;
    font-family: 'Fjalla One', sans-serif;
    // box-shadow: 8px 8px 8px #DDDDDD;
    color: #DDDDDD;
    border: 4px solid #DDDDDD;

    @media only screen and (max-width: 600px) {
        padding: 10px;
        font-size: 1.3em;
        
    }
    
    
}



//Document

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 3em;
    

}

h4 {
 font-weight: 400;
 
}

#content-header {
    align-items: center;
    justify-content: center;
}

#generator {
    align-items: center;
    justify-content: center;
    flex: 2;
    background-color: #0074D9;
}

// #generator-options {
//     justify-content: center;
//     align-items: center;
    
// }

#spacer {
    flex: 1;
}


select {
    
    border-radius: 5px;
    background-color: #0074D9 !important;
    border: 4px solid #DDDDDD;
    margin: 5px;
    font-size: 25px;
    color: #DDDDDD;
}

button {
    border-radius: 5px;
    background-color: #0074D9;
    margin: 5px;
    border: 4px solid #DDDDDD;
    padding: 5px;
    font-size: 25px;
    color: #DDDDDD;

}



footer {
    background-color: #373737;
    text-align: center;
    color: #DDDDDD;
    padding: 20px;
    flex: 5;

    p {
        margin: 5px;
    }
}


//for piano keys may not use for a while
// .piano-white {
//     width: 20px;
//     height: 100px;
//     background-color: white;
//     border: 2px solid black;
    
//     right:10px;
// }

// .piano-black {
//     width: 20px;
//     height: 70px;
//     background-color: black;
//     border: 2px solid white;
//     right: 10px;
// }